In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("career_councellor.csv")

In [3]:
df.isnull().sum()

interest_text    0
career           0
description      0
dtype: int64

In [4]:
df.head()

,interest_text,career,description
0,I love math and solving problems,Data Scientist,"A Data Scientist uses statistics, programming,..."
1,I like coding and analyzing data,Data Scientist,"A Data Scientist uses statistics, programming,..."
2,I enjoy working with numbers,Data Scientist,"A Data Scientist uses statistics, programming,..."
3,I want to work with machine learning,Data Scientist,"A Data Scientist uses statistics, programming,..."
4,I am good at statistics and programming,Data Scientist,"A Data Scientist uses statistics, programming,..."

In [5]:
df["interest_text"]=df["interest_text"].str.lower()

In [13]:
import string
exclude= string.punctuation
def rem_punc(text):
    return text.translate(str.maketrans('','',exclude))

df["interest_text"]=df["interest_text"].apply(rem_punc)